	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Timesheet</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Administrator</a></li>
				<li><a href="#">Employee</a></li>
				<li><a href="#">Help</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" data-toggle="modal" data-target="#myModal" ng-hide="$root.hideSign">SignIn</a></li>
				<li><a ng-show="$root.showSign">{{$root.currentUser}}</a></li>
			</ul>
		</div>
	</nav>

	<!--
	<input type="text" ng-model="time.firstname"><br><br>
	<input type="text" ng-model="time.lastname"><br><br>
	-->