	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<div class="collapse navbar-collapse" id="mainNav">
				<ul id="navlist" class="nav nav-justified">
					<li><a href="#">Logout</a></li>
					<li><a href="#">Employee Management</a></li>
					<li><a href="timesheet.html">Timesheets</a></li>
					<li><a href="#">Reports</a></li>
					<li><a href="#">Settings</a></li>
					<li><a href="#">License</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--
	<input type="text" ng-model="time.employee"><br><br>
	<input type="text" ng-model="time.id">
	-->