<div class="container" id="timeSheet" ng-controller = "timeCtrl">
	<div class="row">
		<div class="col-md-4">
			<input type="date" name="start" ng-model="startDate"><br><br>
		</div>

		<div class="col-md-4">
			<input type="date" name="end" ng-model="endDate"><br><br>
		</div>

		<div class="col-md-4">
			<input type="submit" ng-click = "saveAttend()"><br><br>
		</div>
  	</div>

	<div ng-repeat="n in daterange track by $index">
	  	<div class="row">
			<div class="col-md-4">
				<input type="text" ng-value="$index"><br><br>
			</div>

			<div class="col-md-4">
				<input type="text"><br><br>
			</div>

			<div class="col-md-4">
				<input type="text"><br><br>
			</div>
	  	</div>
	</div>

<!-- 
	[
		{
			data : 22/04/2017,
			hours: 5,
			project: testing 
		},
		{
			data : 23/04/2017,
			hours: 5,
			project: testing 
		}
	]

-->
</div>